<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Sistema de Administración</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a href="/iniciar-sesion" class="btn btn-outline-danger">Salir</a>
    </div>
</nav>
<div class="container my-3">
    <h2>Buenos días</h2>
    <h4>Usuario: Luis Antonio Garcia</h4>
    <h5>Invitado</h5>
    <hr>

    <h5>Disfruta tu estancia</h5>
</div>
